<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.joss.bundaegi.mapper.NoticeMapper">
    <select id="getNoticeInfo" resultType="com.joss.bundaegi.domain.NoticeDomain">
        -- 공지사항 조회(오늘로부터 1년 이내)
        SELECT
        notice_sequence
        ,notice_title
        ,notice_content
        ,notice_create_date
        ,notice_create_user
        FROM notice
        WHERE 1=1 AND DATE_FORMAT(notice_create_date,'%Y%m%d') <![CDATA[>=]]> DATE_FORMAT(DATE_ADD(NOW(), INTERVAL -1 YEAR),'%Y%m%d');
    </select>
    <select id="getVirusInfo" resultType="com.joss.bundaegi.domain.VirusDomain">
        -- 공지사항 조회(오늘로부터 1년 이내)
        SELECT
        com.com_name AS virus_name
        ,virus_id
        ,virus_prevention -- 예방법
        ,virus_description -- 설명
        ,virus_symptom  -- 증상
        ,virus_propagation_path -- 감염경로
        ,virus_incubation_period -- 잠복기
        ,virus_cure -- 치료법
        FROM virusinfo
        INNER JOIN common com ON com.com_id = virus_id
        WHERE 1=1 AND virus_id = #{virusId}
    </select>
    <insert id="createNoticeInfo" parameterType="map">
        INSERT INTO notice(notice_title, notice_content,notice_create_date,notice_create_user)
        SELECT #{noticeTitle} AS notice_title
        , #{noticeContent} AS notice_content
        , NOW() AS notice_create_date
        , user_name AS notice_create_user
        FROM user
        WHERE user_id = #{noticeCreateUser};
    </insert>
</mapper>