<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.joss.bundaegi.mapper.UserMapper">
    <select id="getAllUser" resultType="com.joss.bundaegi.domain.UserDomain">
        -- 사용자 조회
        SELECT
            user_id,
            user_password,
            user_name,
            user_phone_number,
            com.com_name AS user_type
        FROM user
        INNER JOIN common com ON user_type = com.com_id
    </select>

    <select id="getUser" resultType="com.joss.bundaegi.domain.UserDomain">
        -- 사용자 조회
        SELECT
            user_id,
            user_password,
            user_name,
            user_phone_number,
            com.com_name AS user_type
        FROM user
        INNER JOIN common com ON user_type = com.com_id
        WHERE 1=1
        AND user_id = '${id}'
    </select>

    <insert id="creatUser" parameterType="com.joss.bundaegi.domain.UserDomain">
        -- APP 사용자 회원가입
        INSERT INTO user(user_id, user_password, user_name, user_phone_number, user_type)
        SELECT '${userId}' AS user_id
        ,'${userPassword}' AS user_password
        ,'${userName}' AS user_name
        ,'${userPhoneNumber}' AS user_phone_number
        ,'${userType}' AS user_type;
        -- VALUES("admin", "admin123","관리자","","E");
    </insert>
</mapper>